.skills-section {
    text-align: center;
    padding: 1rem;
    width: calc(95% - 170px);
    /* Automatically adjusts the width */
    margin-left: 190px;

    .skil-title {
        font-size: 36px;
        font-weight: bold;
        position: relative;
        color: black;
        margin-bottom: 20px;

        &::after {
            content: '';
            display: block;
            width: 50px;
            height: 2px;
            background: #1976d2;
            margin: 10px auto 0;
        }
    }
    .css-480o17-MuiGrid-root{
        width: 100%;
    }
    h4 {
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .skills-description {
        color: #6c757d;
        /* Bootstrap text.secondary color */
        margin-bottom: 2rem;
        margin-right: 2rem;
        text-align: justify;
    }

    .skill-box {
        margin-bottom: 1.5rem;
        margin-right: 15px;

        .skill-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.5rem;
            color: black;
        }

        .MuiLinearProgress-root {
            height: 8px;
            border-radius: 4px;
            background-color: #e0e0e0;

            .MuiLinearProgress-bar {
                background-color: #007bff;
                /* Blue progress color */
            }
        }
    }
}

@media screen and (max-width:600px) {
    .skills-section{
        margin-left: 0px;
        width: auto;

        .skills-description{
            text-align: justify;
        }
    }
}