@import '../abstract/break_points';

.resume-section {
  background-color: white;

  h2{
    color: black;
    text-align: justify;
  }

  .resume-container {
    padding: 40px 20px;
    width: calc(100% - 150px);
    margin-left: 150px;

    .resume-title {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 10px;
      color: black;

      &::after {
        content: '';
        display: block;
        width: 50px;
        height: 2px;
        background: #1976d2;
        margin: 10px auto 0;
      }
    }

    .resume-intro {
      text-align: center;
      font-size: 1rem;
      color: #555;
      margin-bottom: 30px;
      // width: 95%;
      margin-left: 2rem;
      text-align: justify;
      margin-right: 2rem;
    }

    .resume-content {
      display: flex;
      flex-wrap: wrap; /* Ensure content wraps if there's insufficient space */
      gap: 20px;
      margin-left: 3rem;
      margin-right: 3rem;
    }

    .resume-column {
      flex: 1;
    }

    .timeline-item {
      display: flex;
      gap: 10px;
      align-items: flex-start;
      margin-bottom: 20px;

      .timeline-icon {
        width: 20px;
        height: 20px;
        background-color: #007bff;
        border-radius: 50%;
        position: relative;

        &::after {
          content: "";
          width: 2px;
          height: 100%;
          background-color: #007bff;
          position: absolute;
          top: 20px;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &:last-child .timeline-icon::after {
        display: none;
      }

      h3 {
        font-size: 13px;
        font-weight: bold;
        color: black;
        text-align: justify;
      }

      p {
        font-size: 0.9rem;
        color: #555;
        margin-top: -2px;
      }

      ul {
        list-style-type: disc; /* Ensure bullet points are shown */
        padding-left: 20px;
        margin-top: 10px;

        li {
          font-size: 12px;
          color: #555;
          text-align: justify;
          // margin-bottom: 10px;
        }
      }
    }
  }
}
@media screen and (max-width:$screen-md-min){
  .resume-section{
    .resume-container{
      .resume-content
      {
        flex-direction: column;
      }
    }
  }
}
@media screen and (max-width:600px){
  .resume-section{
    .resume-container{
      width: auto;
      margin-left: 0px;

      .resume-intro{
        width: auto;
        text-align: justify;
      }
      .resume-content{
        display: block;
      }
    }
  }
}