@import '../abstract/break_points';

.cont-section {
    background-color: white;
    .contact-container {
        max-width: 1500px;
        margin: 0 auto;
        padding: 20px;
      margin-left: 200px;

        .contact-title {
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 10px;
            color: black;
            &::after {
                content: '';
                display: block;
                width: 50px;
                height: 2px;
                background: #1976d2;
                margin: 10px auto 0;
            }
        }

        .contact-description {
            text-align: center;
            font-size: 1rem;
            color: #555;
            margin-bottom: 30px;
            text-align: justify;
        }

        .contact-content {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            .contact-details {
                flex: 1;
                max-width: 40%;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .contact-item {
                    display: flex;
                    align-items: center;
                    gap: 15px;

                    .icon-container {
                        width: 50px;
                        height: 50px;
                        background-color: #eef7ff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        font-size: 1.5rem;
                        color: #007bff;
                    }
                    .heading{
                        
                        text-align: justify;
                        margin-left: 10px;
                    }

                    h4 {
                        font-size: 1.2rem;
                        font-weight: bold;
                        color: black;
                    }

                    p {
                        font-size: 0.9rem;
                        color: #555;
                    }
                }
            }

            .contact-form {
                flex: 2;
                max-width: 55%;
                display: flex;
                flex-direction: column;
                gap: 15px;
                margin-top: 5rem;

                .form-group {
                    display: flex;
                    gap: 10px;
                    width: 103%;

                    input {
                        flex: 1;
                    }
                }

                input,
                textarea {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    font-size: 1rem;
                    background-color: white;

                    &:focus {
                        outline: none;
                        border-color: #007bff;
                    }
                }

                .btn {
                    align-self: center;
                    padding: 10px 20px;
                    background-color: #007bff;
                    color: white;
                    border: none;
                    border-radius: 20px;
                    font-size: 1rem;
                    cursor: pointer;

                    &:hover {
                        background-color: #0056b3;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:$screen-md-min){
    .cont-section{
        .contact-container{
            .contact-content{
                flex-direction: column;
                .contact-details{
                    max-width: 100%;
                    align-self: center;
                }
                .contact-form{
                    max-width: 100%;
                    align-self: center;
                    margin-right: 2rem;
                }
            }
        }
    }
}
@media screen and (max-width:600px) {
    .cont-section{
        .contact-container{
            margin-left: 0;

            .contact-description{
                text-align: justify;
            }
            .contact-content{
                display: block;
            }
        }
    }
}