@import '../abstract/break_points';


.about-section {
  background-color: white;

  .about-container {
    text-align: center;
    margin: 0 auto;
    // padding: 110px 20px;
    // max-width: 1200px;
    // margin-top: -43rem;
    // height: 100vh;
    background-color: white;
    box-sizing: border-box;
    margin-left: 50px;
    margin-top: 50px;

    .about-title {
      font-size: 36px;
      font-weight: bold;
      position: relative;
      color: black;
      margin-bottom: 20px;

      &::after {
        content: '';
        display: block;
        width: 50px;
        height: 2px;
        background: #1976d2;
        margin: 10px auto 0;
      }
    }

    .about-description {
      color: #555;
      font-size: 16px;
      margin-bottom: 40px;
      line-height: 1.6;
      // width: 100%;
      margin-left: 120px;
      margin-right: 1rem;
      text-align: justify;
    }

    .about-content {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;

      .about-image {
        flex: 3 1 300px;
        margin-right: 20px;
        text-align: center;

        img {
          width: 50%;
          // max-width: 300px;
          border-radius: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          margin-left: 150px;
        }
      }

      .about-details {
        flex: 3 1 500px;
        text-align: left;

        h3 {
          font-size: 28px;
          font-weight: bold;
          margin-bottom: 20px;
          color: black;
        }

        p {
          color: #666;
          margin-bottom: 20px;
          line-height: 1.6;
          margin-top: -8px;
          margin-right: 30px;
        }

        .details-list {
          display: flex;
          flex-wrap: wrap;
          text-align: justify;
          justify-content: space-around;

          ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 15px;

            li {
              margin-bottom: 10px;
              font-size: 16px;
              color: black;

              strong {
                color: #1976d2;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width:$screen-md-min) {
  .about-section {
    .about-container {
      .about-content {
        .about-details {
          margin-left: 200px;
          .details-list{
            margin-left: 100px;
            justify-content: flex-start;
          }
        }
      }
    }
  }

}

@media screen and (max-width:600px) {
  .about-section {
    .about-container {
      margin-left: 0px;

      .about-content {
        .about-details {
          margin-left: 55px;

          .details-list{
            margin-left: 100px;
            justify-content: flex-start;
          }
        }
      }

      .about-description {
        margin-left: 30px;
      }
    }
  }
}